{% extends 'base.html' %}
{% load my_tags %}
{% block title %}{{ current_page }}{% endblock %}
{% block content %}
<div class="col-12">
    <div class="row">
<div class="col-1"></div>
    <div class="col-4">
<img src="{{ ad.image_url|media_filter }}" class="img-top mt-5" alt="...">
    </div>
        <div class="col-6">
<h1 class="mt-5">{{ ad.title }}</h1>
            <p style="font-size: 25px;">{{ ad.description }}</p>
            <p style="font-size: 25px;"><strong>Категория:</strong> {{ ad.category }}</p>
            <p style="font-size: 25px;"><strong>Состояние товара:</strong> {{ ad.condition }}</p>
            <p style="font-size: 25px;"><strong>Дата размещения:</strong> {{ ad.created_at|date:"d M Y" }}</p>
        </div>
        <div class="container-button mt-5">
            {% if my != 'Мое объявление' %}
                <a href="{% url 'ads:exchange-create' ad.pk %}"><button type="button" class="btn btn-secondary btn-lg" style="width: 250px;">Предложить обмен</button></a>
            {% endif %}
            <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-danger btn-lg" style="width: 250px;">Назад</button></a>
                    </div>
        </div>
</div>
{% endblock %}