{% extends 'base.html' %}
{% load my_tags %}
{% block title %}{{ current_page }}{% endblock %}
{% block content %}
<h1 class="mb-5 mt-3" style="text-align: center;">{{ current_page }}</h1>
<div class="container cards-container">
    {% for ad in ads %}
<div class="card" style="width: 18rem;">
    <a href="{% url 'ads:ad-detail' ad.pk %}"><img src="{{ ad.image_url|media_filter }}" class="card-img-top img-podsvetka" alt="..."></a>
  <div class="card-body">
    <h5 class="card-title">{{ ad.title }}</h5>
    <p class="card-text">{{ ad.description }}</p>
      {% if request.user == ad.user %}
    <a href="{% url 'ads:ad-update' ad.pk %}" class="btn btn-secondary" style="width: 100%;">Редактировать</a>
      <a href="{% url 'ads:ad-delete' ad.pk %}" class="btn btn-danger mt-2" style="width: 100%;">Удалить</a>
      {% else %}
    <a href="{% url 'ads:ad-detail' ad.pk %}" class="btn btn-primary" style="width: 100%;">Посмотреть объявление</a>
      <a href="#" class="btn btn-primary mt-2" style="width: 100%;">Предложить обмен</a>
      {% endif %}
  </div>
</div>
    {% endfor %}
    </div>
{% endblock %}