{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Подтверждение удаления{% endblock %}
{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <div class="container" style="text-align: center;">
                    <h3 class="mt-3" style="font-size: 35px;">Вы действительно хотите удалить объявление?</h3>
                    <h4 class="mt-5" style="font-size: 30px;">{{ ad.title }}</h4>
                    <p style="font-size: 25px;">{{ ad.description|truncatechars:100 }}</p>
                <button type="submit" class="btn btn-danger btn-lg mt-5">Удалить</button>
                <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-secondary btn-lg mt-5">Назад</button></a>
                    </div>
            </fieldset>
        </form>
    </div>
{% endblock %}