<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
    <div class="container-xl">
      <a class="navbar-brand" href="#">{{ current_page }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07XL">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'ads:home' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ads:ads-list' %}">Объявления</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ads:ads-mylist' %}">Мои объявления</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Действия</a>
            <ul class="dropdown-menu">
              {% if not user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'users:login' %}">Войти</a></li>
              <li><a class="dropdown-item" href="{% url 'users:register' %}">Зарегистрироваться</a></li>
              {% endif %}
              {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'users:personal-account' user.pk %}">Личный кабинет</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'ads:ad-create' %}">Добавить объявление</a></li>
              {% if user.is_authenticated %}
              <li><form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
                <a><button type="submit" class="btn">Выход</button></a>
              </form></li>
              {% endif %}
            </ul>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Поиск" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>